@keyframes scale {
    0% {
      transform: scale(5);
    }
    
    100% {
      transform: scale(1);
    }
  }
  
  .scaleEffect {
    animation: scale 1s;
  }


  @keyframes slideInUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }